.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 628px;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
}

.small {
  font-size: 0.8rem;
}

.card {
  width: 300px;
  height: 620px;
}

.card-img {
  width: 100px;
}

.card-content {
  width: 200px;
  height: 160px;
}

.year_input {
  text-align: center;
}

.inputs {
  display: flex;
  justify-content: center;
}

.centered {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.year-input {
  text-align: center;
}

.filter-item {
  margin: 5px;
}