.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
}

.small {
  font-size: 0.8rem;
}

.card-img {
  width: 100px;
}

.card-content {
  width: 200px;
  height: 160px;
}

.year_input {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
}